/* @font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url() format('woff2');
} */


@font-face{
	font-family:"Product Sans";
        src: url(../slick/fonts/Product-Sans-Regular.ttf)  format("truetype");
}

body{
    overflow-x: hidden;
    font-family: 'Product Sans';
}
button, input{
    font-family: 'Product Sans';
}
header.desk1 {
position: absolute;
z-index: 8000;
width: 100%;
background-color: rgba(255, 255, 255, 0.897);
display: flex;
justify-content: center;
align-items: center;
}

  .logo12 {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    padding-top: 20px;
    padding-bottom: 20px;
    
  }

 .aSec{
     text-align: center;
    
     color: #666;
 }

.align{
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    background-color: #fff;
    position: fixed;
    z-index: 4000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.40);
}
.header{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo1{
    display: flex;
    justify-content: flex-start;
    padding-top: 3px;
    padding-bottom: 3px;
}

.fas.fa-bars.col-6{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 26px;
    padding-right: 30px;
}

.title{
    font-weight: 600;
    font-size: 30px !important;
    margin-top: 100px;
    line-height: 1.4; 
    text-align: center;
}

.titles{
    font-weight: 500;
    font-size: 32px;
    margin-top: 160px;
    margin-bottom: 70px;
    text-align: center;
    color: #336699;
}

.subtitle{
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    color: #666699;
    margin-top: 15px;
}

strong.verde{
    color: #2D2D2D;
    font-weight: bolder;
    font-size: 30px;
}

.gif{
    box-shadow: 0px 6px 9px 0px rgba(0,0,0,0.22);
    margin-top: 10px;
    margin-bottom: 80px;
    padding: 0;
}

.boton{
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background: #1E7A5E;
    border: 1px solid #1E7A5E;
    border-radius: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 30px;
}

.pres{
    background-color: white;
}

.car{
    padding-top: 80px;
    padding-bottom: 160px;
    background-position: 0px 59px;
    background-size: 150%;
}

#myCarousel{
    margin-top: 20px;
    margin-bottom: 80px;
}

.carousel-control{
    background: transparent !important;
    margin-bottom: 70px;
}

.cSubtitle{
    font-weight: bolder;
    font-size: 21px;
    text-align: start;
}

.cText{
    font-weight: 400;
    font-size: 17px;
    color: #666666;
    text-align: start;
    margin-bottom: 60px;
}

.item{
    margin-left: 50px;
}

ol.carousel-indicators li {
    border: 0.2px solid black;
    margin: 2px;
    width: 6px;
    height: 6px;
}

ol.carousel-indicators li.active {
    border: 0.2px solid #003629;
    margin: 2px;
    background: #003629;
    width: 8px;
    height: 8px;
}

.cIcono{
    color: #6699ff;
    font-size: 22px;
    width: 17%;
}

h1.nues{
    margin-top: 60px;
    color: #33cc99 !important;
}

.servT{
    font-size: 18px;
    font-weight: bolder;
}

.textT{
    font-weight: 400;
    font-size: 15px;
    color: #999999;
}

.serv{
    margin-top: 20px;
    margin-bottom: 20px;
}

.services{
    padding-bottom: 350px;
    background-position: 0px 59px;
    background-size: 150%;
}

.btnS{
    font-weight: bold;
    font-size: 15px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: transparent;
    border-bottom: 0;
    padding: 0;
}

.flechita{
    font-size: 10px;
    margin-left: 5px;
}

.imgS{
    height: 100%;
    margin-top: 20px;
}

.como{
    background: #f1f2f6;
}

.comoT{
    color: #33cc99;
    font-weight: 500;
    font-size: 34px;
    margin-top: 40px;
}

.textC{
    margin-top: 10vh;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 50px;
    color: #003629;
}

.tarifasT{
    color: #ffcc66;
    font-size: 33px;
    font-weight: 400;
    margin-top: 380px;
}

.btn2{
    border: none !important;
    font-size: 22px;
    background: transparent !important;
}


.seleccionado{
    color: #1E7A5E;
    border-bottom: 1px solid #1E7A5E !important;
}  
.deseleccionado{
    color: #666;
    opacity: 20% !important;
}

strong.num{
    font-weight: bolder;
}

.subT{
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 33px; 
    color: #666666;
    margin-bottom: 20px;
}

input[type=range].form-range.col-8 {
    width: 90%;
    margin: 3.05px 0;
    margin-bottom: 40px;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range].form-range.col-8:focus {
    outline: none;
  }
  input[type=range].form-range.col-8::-webkit-slider-runnable-track {
    background: #1e7a5e;
    border: 0.2px solid #2d2d2d;
    border-radius: 8.1px;
    width: 100%;
    height: 25px;
    cursor: pointer;
  }
  input[type=range].form-range.col-8::-webkit-slider-thumb {
    margin-top: -3.25px;
    width: 23px;
    height: 24px;
    background: #ffffff;
    border: 1.2px solid #2d2d2d;
    border-radius: 18px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range].form-range.col-8:focus::-webkit-slider-runnable-track {
    background: #269b77;
  }
  input[type=range].form-range.col-8::-moz-range-track {
    background: #1e7a5e;
    border: 0.2px solid #2d2d2d;
    border-radius: 8.1px;
    width: 100%;
    height: 25px;
    cursor: pointer;
  }
  input[type=range].form-range.col-8::-moz-range-thumb {
    width: 23px;
    height: 24px;
    background: #ffffff;
    border: 1.2px solid #2d2d2d;
    border-radius: 18px;
    cursor: pointer;
  }
  input[type=range].form-range.col-8::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 5.15px 0;
    color: transparent;
    width: 100%;
    height: 28px;
    cursor: pointer;
  }
  input[type=range].form-range.col-8::-ms-fill-lower {
    background: #165945;
    border: 0.2px solid #2d2d2d;
    border-radius: 16.2px;
  }
  input[type=range].form-range.col-8::-ms-fill-upper {
    background: #1e7a5e;
    border: 0.2px solid #2d2d2d;
    border-radius: 16.2px;
  }
  input[type=range].form-range.col-8::-ms-thumb {
    width: 23px;
    height: 26px;
    background: #ffffff;
    border: 1.2px solid #2d2d2d;
    border-radius: 18px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range].form-range.col-8:focus::-ms-fill-lower {
    background: #1e7a5e;
  }
  input[type=range].form-range.col-8:focus::-ms-fill-upper {
    background: #269b77;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range].form-range.col-12 {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }

  .cont{
      background: #f1f2f6;
      padding-top: 40px;
  }

  .card{
      background: #fff;
      border-radius: 2%;
      border-left: 4px solid #1E7A5E;
      height: 100%;
      margin: 5px;
      margin-bottom: 80px;
      box-shadow: 0px 8px 9px 0px rgba(0,0,0,0.26);
  }

  .precio{
      text-align: center;
      margin-top: 30px;
      font-size: 26px;
      font-weight: bolder;
      color: #003629;
      margin-bottom: 0px;
  }

  .ars{
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      color: #003629;
      margin-top: 5px;
  }

  .desc{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color: #666;
    margin-top: 13px;
  }

  strong.usd{
      color: #2D2D2D;
  }

  .botonStart{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    background: #1E7A5E;
    border: 1px solid #1E7A5E;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

  .preguntas{
    background: #f1f2f6;
  }

  .preg{
    margin:0px;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #cccccc;
  }
  .fa-chevron-down{
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
  }
  
  #content1{
      background-color: #fff;
  }

  .nuestrosS{
      color: #cc6633;
      font-weight: 400;
      font-size: 34px;
      margin-top: 100px;
      margin-bottom: 40px;
  }
  
  .muchos{
      color: #666;
      font-size: 16px;
      font-style: italic;
      text-align: center;
      font-weight: bold;
      margin-bottom: 80px;
  }

.nosotros{
    background-color: #f1f2f6;
}

.cardNos{
    background-color: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.26);
    margin-bottom: 20px;
    margin-top: 20px;
    height: 100%;
}

.logo{
    padding-top: 20px;
    padding-left: 20px;
}

.tituloNos{
    font-size: 23px;
    font-weight: bolder;
    color: #1E7A5E;   
    padding-left: 20px;
    margin-bottom: 20px;
}

.textNos{
    font-weight: bold;
    font-size: 15px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.textNos1{
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 30px;
    margin-left: 10px;
}

.imgNos{
    height: 301px !important;
    background: white;
    margin:5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.16);
}

.nosCar{
    margin-top: 40px;
    margin-bottom: 60px;
}

.nombre{
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}

.puesto{
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #666699;
}

.car2{
    margin: 0px !important;
}

.contacto{
    
    background-size: cover;
    background-position: -247px;
}

.contactoT{
    color: #cc6633;
      font-weight: 400;
      font-size: 34px;
      margin-top: 70px;
      margin-bottom: 10px;
}

.subtitle1{
    font-weight: 400;
    font-size: 31px;
    text-align: center;
    color: #666699;
    margin-top: 15px;
}

.email{
    height: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    border: none;
    border-left: 4px solid #1e7a5e;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.26);
}
.email-input{
    border: none;
    height: 55px;
}

.iconos{
    margin-bottom: 80px;
}

.iconBut{
    width: 60px;
    height: 60px;
    border-radius: 32px;
    background: transparent;
    
    border: none;
}
.imgLogos{
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.26);
    border-radius: 17px;
}
.iconI{
    font-size: 34px;
    color: #003629;
}

.btnSub{
    border: none;
    background: white;
    color: #1e7a5e;
}

footer{
    background: linear-gradient(45deg, #006633, #336666);
}

.logoFoot{
    margin-top: 40px;
    margin-bottom: 20px;
}

.direc{
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 40px;
}

.icFoot{
    font-size: 32px;
    text-align: center;
    color: white;
}

.iconosFoot{
    border-top: 00.2px solid #ccccff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid #1e7a5e;
}

.cerrado{
    display: none;
}

.abierto{
    display: block;
}





.topnav {
    overflow: hidden;
    background-color: transparent;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    height: 610px !important;
    left: -100% !important;
    transition: all .5s;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 21px;
    font-size: 28px;
    color: black;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active1 {
    background-color: white;
    color: white;
    box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.40);
  }



  
  #burger{
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    background: linear-gradient(45deg, #006633 10%, #336666);;
    font-size: 32px;
    padding: 16px 16px 32px 32px;
    border-radius: 0% 0% 0% 100%;
    transition: 0.5s;
    cursor: pointer;
  }
  
  #quit{
    position: fixed;
    top: 0;
    color: white;
    font-size: 32px;
    padding: 16px;
    display: none;
    cursor: pointer;
  }
  #links{
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    padding: 25vh 0;
    justify-content: space-around;
  }
  
  #links a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-family: 'Roboto';
    z-index: 10;
  }

  .slick-dots{
      bottom: 10px !important;
      position: relative !important;
  }

  #empresa{
      left: 0%;
  }

  h3.msj{
      text-align: center;
      margin-top: 60px;
      font-size: 16px;
  }

  h3.opciones{
    text-align: center;
    margin-bottom: 60px;
    font-size: 14px;
  }

  .nosotrosDiv{
      background: #f1f2f6;
      margin-top: 40px;
      justify-content: space-evenly;
  }

  .loguitos{
      padding: 5px;
      width: 96%;
  }
  .loguitos1{
    padding: 25px;
    width: 15%;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
  }
    .tituloNos1{
        text-align: center;
        font-size: 20px;
        font-weight: bolder;
        color: #1E7A5E;   
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .logosT{
        margin: 10px;
    }
    .textNos2{
        text-align: center;
        font-weight: bold;
        font-size: 15px;
        padding-bottom: 30px;
        margin-left: 10px;
    }

    .desk{
        display: none;
    }
    .mobile{
        display: inline-block;
    }

    .saberMas{
        position: fixed;
        display: flex;
        z-index: 400;
        height: 100%;
        width: 100%;
        background-color: #003629;
    }

    .cerrado{
        left: -100%;
        transition: all .5s;
    }
    .abierto{
        left: 0%;
        transition: all .5s;
    }

    .cont{
        background-color: #f1f2f6;
        margin-bottom: 0px !important;
    }

    #agencia{
        
        padding: 0px !important;
    }
    #empresa{
        
        padding: 0px !important;
    }

    .sociosImgs{
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .pregRta{
        margin: 20px;
        text-align: center;
        justify-content: space-between;
    }

    .textoSaberMas{
        color: white;
    }

    

    .fa-abierto{
        transform: rotate(180deg);
        transition: 0.2s linear;
        cursor: pointer;
    }
    .fa-cerrado{
        transform: rotate(0deg);
        transition: 0.2s linear;
        cursor: pointer;
    }
    
    @media(min-width:768px){
        .desk{
            display: inline-block;
        }
        .mobile{
            display: none;
        }

        .logoH{
            width: 14%;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .navT{
            text-align: center;
            font-size: 20px;
            font-weight: bolder;
        }

        header{
            display: inline-block;
            position: absolute;
        }
        .title{
            margin-top: 220px;
            font-size: 42px !important;
        }
        .verde{
            font-size: 42px !important;
        }
        .subtitle{
            font-size: 26px;
        }
        .boton{
            margin-top: 40px;
            margin-bottom: 80px;
        }
        .titles{
            font-size: 40px !important;
        }
        .porqCar{
            margin-top: 60px;
        }
        .servT{
            font-size: 28px;
        }
        .textT{
            font-size: 20px;
        }
        .btnS{
            font-size: 20px;
        }
        .flechita{
            font-size: 20px;
        }
        .textC{
            font-size: 20px;
        }
        .subT{
            font-size: 24px;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .btn2{
            font-size: 28px;
            margin-top: 60px;
        }
        .form-label{
            font-size: 28px !important;
        }
        .num{
            font-size: 28px !important;
        }
        p.preg{
            font-size: 20px;
            text-align: center;
        }
        .tituloNos1{
            font-size: 24px !important;
        }
        .textNos2{
            font-size: 20px !important;
        }
        .subtitle1{
            font-size: 36px;
        }
        .direc{
            font-size: 20px;
        }
        .titles.nues{
            margin-top: 140px;
            margin-bottom: 80px;
        }
        .serv{
            
            margin-bottom: 80px !important;
        }
        .nuestrosS{
            font-size: 40px !important;
        }
        .contactoT{
            font-size: 40px !important;
        }
        .imgNos{
            height: 330px !important;
        }
        .nosotrosDiv{
            justify-content: space-around;
        }
        .como{
            margin-top: 30px;
            margin-bottom: 40px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .preguntas{
            padding-top: 80px;
            padding-bottom: 100px;
        }
        .imgNos{
            height: 400px !important;
        }
        .porqCard{
            box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 10%);
            transition: 0.4s;
            margin: 20px;
            padding:20px;
        }
        .porqCard:hover{
            transform:scale(1.1)
          }
        .serv{
            transition: 0.4s;
        }
        .serv:hover{
            transform:scale(1.1)
        }

        
        
        .icon23 {
            position: relative;
            overflow: hidden;
            width: 120px;
            height: 40px;
            display: inline-block;
            background-color: #003333;
            margin: 25px 0 25px 25px;
            border-radius: 5px;
            color: #fff;
            text-decoration: none;
            text-align: center;
            font-size: 12px;
            font-family: sans-serif;
          }
          
        .icon23:hover{
            background-color: #006666;
        }
          
          
          /**
           * The "shine" element
           */
          
          .icon23:after {
            
            animation: shine 3s ease-in-out  infinite;
            animation-fill-mode: forwards;  
            content: "";
            position: absolute;
            top: -110%;
            left: -210%;
            width: 300%;
            height: 300%;
            opacity: 0;
            transform: rotate(30deg);
            
            background: rgba(255, 255, 255, 0.13);
            background: linear-gradient(
              to right, 
              rgba(255, 255, 255, 0.13) 0%,
              rgba(255, 255, 255, 0.13) 77%,
              rgba(255, 255, 255, 0.5) 92%,
              rgba(255, 255, 255, 0.0) 100%
            );
          }
          
          /* Hover state - trigger effect */
          
          
          /* Active state */
          
          .icon23:active:after {
            opacity: 0;
          }
          
          @keyframes shine{
            10% {
              opacity: 1;
              top: -30%;
              left: -30%;
              transition-property: left, top, opacity;
              transition-duration: 0.7s, 0.7s, 0.15s;
              transition-timing-function: ease;
            }
            100% {
              opacity: 0;
              top: -30%;
              left: -30%;
              transition-property: left, top, opacity;
            }
          }


          .slick-next:before {
            content: '→';
            font-size: 38px !important;
            color: black !important;
        }
        .slick-prev:before {
            content: '→';
            font-size: 38px !important;
            color: black !important;
            
        }

        .imgPq{
            margin-bottom: 30px;
        }

        section {
            width: 75% !important;
            margin: auto;
        }
        section.tarifas{
            width: 100% !important;
            margin: auto;
        }

        .fondo{
            background-color: #f1f2f6;
        }
        .fondo2{
            background-color: rgba(204,204,204,0.36);
        }
        .socios{
            margin-left: 0px;
        }

        .services{
            justify-content: space-between;
        }
       
    }
